<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- <context:component-scan base-package="com" />
	<context:annotation-config />  -->
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/pinterest"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="datasource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key = "hibernate.show_sql">true</prop>
			</props>
			
		</property>
		 
		<property name="mappingResources">
			
			<list>
				
				<value>com/bean/User.hbm.xml</value>
				<value>com/bean/Board.hbm.xml</value>
				<value>com/bean/Follow.hbm.xml</value>
				<value>com/bean/Friend.hbm.xml</value>				
				<value>com/bean/Picture.hbm.xml</value>
				<value>com/bean/Pin.hbm.xml</value>
				<value>com/bean/Likes.hbm.xml</value>
				<value>com/bean/Comment.hbm.xml</value>	
				<value>com/bean/Request.hbm.xml</value>				
				
			</list>
			 
		</property>
		
	</bean>
	
	<bean id="userDAO" class="com.dao.impl.UserDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="userService" class="com.service.impl.UserServiceImpl">
		<property name="userDAO">
			<ref bean="userDAO"></ref>
		</property>
	</bean>
	
	<bean id="pinDAO" class="com.dao.impl.PinDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<bean id="pinService" class="com.service.impl.PinServiceImpl">
		<property name="pinDAO">
			<ref bean="pinDAO"></ref>
		</property>
		<property name="userDAO">
			<ref bean="userDAO"></ref>
		</property>
	</bean>
	
	<bean id="loginAction" class="com.action.user.LoginAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>	
	<bean id="addPinAction" class="com.action.pin.AddPinAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="logoutAction" class="com.action.user.LogoutAction" scope="prototype"></bean>
	<bean id="enrollAction" class="com.action.user.EnrollAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="userManageAction" class="com.action.user.UserManageAction" scope="prototype">
		<property name="pinService">
			<ref bean="pinService"></ref>
		</property>
		<property name="userService">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="modifyUserInfoAction" class="com.action.user.ModifyUserInfoAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="addBoardAction" class="com.action.pin.AddBoardAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>	
	<bean id="queryBoardAction" class="com.action.pin.QueryBoardAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="fileUploadAction" class="com.action.pin.FileUploadAction" scope="prototype">
	</bean>
	<bean id="fileAction" class="com.action.pin.FileAction" scope="prototype">
		<property name="pinService">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="addFollowAction" class="com.action.pin.AddFollowAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="addFriendAction" class="com.action.user.AddFriendAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="queryPictureAction" class="com.action.pin.QueryPictureAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="editBoardAction" class="com.action.pin.EditBoardAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="deleteBoardAction" class="com.action.pin.DeleteBoardAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="editPinAction" class="com.action.pin.EditPinAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="queryStatAction" class="com.action.pin.QueryStatAction" scope="prototype">
		<property name="pinService">
			<ref bean="pinService"></ref>
		</property>
		<property name="userService">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="queryPinAction" class="com.action.pin.QueryPinAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>		
	</bean>
	<bean id="deleteFollowAction" class="com.action.pin.DeleteFollowAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="deletePinAction" class="com.action.pin.DeletePinAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="addCommentAction" class="com.action.pin.AddCommentAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="deleteCommentAction" class="com.action.pin.DeleteCommentAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="addLikesAction" class="com.action.pin.AddLikesAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="deleteLikesAction" class="com.action.pin.DeleteLikesAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="queryCommentByPinidAction" class="com.action.pin.QueryCommentByPinidAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="queryAction" class="com.action.pin.QueryAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="friendQueryAction" class="com.action.user.FriendQueryAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<bean id="repinAction" class="com.action.pin.RepinAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="takePinByBidOrderAction" class="com.action.pin.TakePinByBidAction" scope="prototype">
		<property name="service">
			<ref bean="pinService"></ref>
		</property>
	</bean>
	<bean id="answerorRequestAction" class="com.action.user.AnswerorRequestAction" scope="prototype">
		<property name="service">
			<ref bean="userService"></ref>
		</property>
	</bean>
	<!-- 
	<bean id="userManage" class="dao.UserManage" abstract="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref local="sessionFactory"></ref>
		</property>
	</bean>
			
	<bean id="EnrollAction" class="com.action.EnrollAction" scope="prototype">
		<property name="userManage">
			<ref bean="userManage"/>
		</property>		
	</bean>
	
	<bean id="Login" class="com.action.Login" scope="prototype">
		<property name="userManage">
			<ref bean="userManage"></ref>
		</property>
	</bean>
	 -->
</beans>
